<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
  {{>navbar}}
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title f-serif">
          the archives
        </h1>
        <h2 class="subtitle f-sans">
          from a time long ago
        </h2>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half-desktop f-serif blog-body">
        <ul>
          {{#each pagination.files}}

          <div class="box">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong><a href="/{{path}}">{{title}}</a></strong>
                  </p>
                </div>
              </div>
            </article>
          </div>

          {{/each}}
        </ul>

        <ul class="pagination-list">
          {{#each pagination.pages}}
          <li> <a class="pagination-link" href=/{{path}}>{{add @index 1}} </a> </li> {{/each}} </ul> <footer>
              <p>Generated with {{ generator }} &mdash; <a href="{{ url }}">{{ url }}</a></p>
              </footer>
      </div>
    </div>
  </div>

</body>

</html>