<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
  {{>navbar}}
  <section class="hero is-fullheight is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title f-serif">
          tim wasson
        </h1>
        <h2 class="subtitle f-sans">
          just an ancient blog like all other blogs from all over.
        </h2>
      </div>
    </div>
  </section>

  {{{ contents }}}
  <div class="is-flex front-page-articles">
  {{#each (limit blog 5)}}

  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4"><a href="/{{path}}">{{ title }}</a></p>
        </div>
      </div>

      <div class="content">
        <time datetime="2016-1-1">{{ date }}</time>
      </div>
    </div>
  </div>

  {{/each}}
  </div>
  <footer>
    <p>Generated with {{ generator }} &mdash; <a href="{{ url }}">{{ url }}</a></p>
  </footer>

</body>

</html>